<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <h1>Add a Restaurant </h1>
      <%= render 'form', new_restaurant: @new_restaurant %>
   </div>
  </div>
</div>
